<!-- map -->
<div class="twelve columns offset-by-one">
  <img src="/assets/<%= @country %>.png" class="maps">
</div><br><br>

<div class="fourteen columns offset-by-one">
  <!-- info -->
  <div class="nine columns alpha">
    <h2><%= @warning_title %></h2><br>
    <p><%= @warning_date %></p>
    <p><%= @warning_body %></p>
  </div>

  <div class="five columns omega">
    <!-- top tweets -->
    <% if @woeid_trends == "oops" %>
      <p><%= @statement %></p>
    <% else %>
      <h3><%= @statement %></h3>
      <% @woeid_trends.each do |tweet| %>
        <a href="<%= tweet[:url]%>" target="_blank"><%= tweet[:name] %></a><br>
      <% end %>
    <% end %>
  </div>

  <!-- blog section -->
  <% if user_signed_in? %>
    <form action="/posts/create/" method="POST" >
      <input type="hidden" name="country" value="<%= @country %>">
      <input type="text" name="title" placeholder="Title" /><br>
      <textarea name="body" placeholder="comment"></textarea><br>
      <input type="submit" value="post" class="submit" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </form>

  <!-- display all -->
    <% @comments.each do |comment| %>
      <p><%= comment.title %></p>
      <p>posted in the <%= @country %> thread</p>
      <p><%= comment.body %></p>
      <p>by<%= comment.username %></p>
      <p>created <%= comment.created_at %></p>


    <!-- edit/delete -->
    <% if current_user.name == comment.username %>

      <!-- edit -->
        <form action="/posts/edit" method="get">
          <input type="hidden" name="comment_id" value="<%= comment.id %>">
          <button>edit</button>
        </form>

      <!-- delete -->
        <form action="/posts/delete" method="POST" >
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input type="hidden" name="comment_id" value="<%= comment.id %>">
          <button>delete</button>
        </form>
    <% else %>
        <p></p>
      <% end %>
    <% end %>

<div
  <% else %>
    <%= link_to "Sign in with Facebook to leave comments", user_omniauth_authorize_path(:facebook) %>
  <% end %>
