<!-- <p><%= @tweet %></p> -->
<p><%= @warning_title %></p><br>
<p><%= @warning_body %></p>

<h2><%= @statement %></h2>
<% @woeid_trends.each do |tweet| %>
<a href="<%= tweet[:url]%>"><%= tweet[:name] %></a><br>
<% end %>
