<!DOCTYPE html>
<html>
<head>
  <title>GlobalConscience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<form action="/country/display" method="get" >
  <select>
  <% @danger_countries.each do |country| %>
    <option value="<%= country.country %>"><%= country.country %></option>
  <% end %>
    </select>
  <button>search</button>
</form>

<form action="/country/tweets" method="get" >
  <select>
  <% @countries.each do |country| %>
    <option value='<%= country.woeid %>'><%= country.name %></option>
    <% end %>
    </select>
    <button>search</button>
    </form>

<%= yield %>

</body>
</html>
