<!DOCTYPE html>
<html>
<head>
  <title>GlobalConscience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<h1>search tweets by trouble spots</h1>
<form action="/country/display" method="get" >
  <select name="country" class="submit">
  <% @danger_countries.each do |country| %>
    <option value="<%= country.country %>"><%= country.country %></option>
  <% end %>
    </select>
  <button>search</button>
</form>

<h1>search tweets by country</h1>
<form action="/country/tweet" method="get" >
  <select name="woeid" value="submit">
  <% @countries.each do |country| %>
    <option value='<%= country.woeid %>'><%= country.name %></option>
    <% end %>
  </select>
  <button>search</button>
</form>

<%= yield %>

</body>
</html>
