<!DOCTYPE html>
<html>
<head>
  <title>GlobalConscience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= @all_countries %>

<form action="/country/display" method="get" >
  <select name='country'>
  <% @country.each do |country| %>
    <option value="<%= country.woeid %>"><%= country.name %></option>
  <% end %>
    </select>
  <button>search</button>
</form>

<%= yield %>

</body>
</html>
